a{
    padding-left: 25px;
  }
  a:link, a:visited{
    color: white;
    text-decoration: none;
  }
  a:hover, a:active{
    color: darkgray;
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }

  .header{
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
  }
  
  .header-right img{
    width: 50px;
    height: 50px;
  }
  
  .header-left{
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: row;
  }
  
  .header-middle{
    display: flex;
  }
  
  .header-right{
    display: flex;
    padding-right:25px;
  }
  
  .regis{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    border: none;
    color:#E50914;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  
  .login{
    width: 100px;
    height: 30px;
    margin-left: 15px;
    border-radius: 5px;
    border-color: #E50914;
    background-color: #E50914;
    border: none;
    color: white;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  .jumbo{
    position: relative;
  }
  
  .judul{
    position: absolute;
    left: 150px;
    top: 100px;
    height: auto; 
    width: 400px; 
  }

  .summary{
    position: absolute;
    width: 550px;
    height: 130px;
    left: 150px;
    top:375px;
    border: none;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: justify;
  }

  .kategori{
    position: absolute;
    left: 150px;
    top:525px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px black;
  }
  
  .kate{
    border: 1.5px solid ;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 4px;
    color: #f2f2f2;
    border-color: rgb(51, 51, 51);
  }
  
  .watch{
    position: absolute;
    width: 300px;
    height: 60px;
    left: 150px;
    top: 600px;
    background-color: #E50914;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150.2%;
  }

  .latest{
    color: white;
  }

  .movies{
    position: absolute;
    left: 34px;
    top: 850px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }
  
  .thumbnail-movies{
    position: absolute;
    left: 54px;
    top: 950px;
    padding-right: 44px;
    padding-left: 15px;
  }
  
  .thumbnail-movies img{
    width: 80%;
    height: auto;
  }
  
  .thumbnail-movies-2{
    position: absolute;
    left: 54px;
    top: 1350px;
    padding-right: 44px;
    padding-left: 15px;
  }

  .thumbnail-movies-2 img{
    width: 80%;
    height: auto;
  }

  .timbul{
    border-radius: 5px;
    border: solid gray;
  }
  
  .modaldasar{
    background-color: black;
    border-radius: 5px;
  }
  
  .judulmodal{
    color: white;
    margin-bottom: 30px;
  }
  
  .email{
    padding-top:10px;
  }
  
  .pass{
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .tombollogin{
    border-radius: 5px;
    border-color: white;
    background-color: #E50914;
    border: none;
    color:white;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    width: 266px;
    height: 40px;
  }
  
  .tombol-baru{
    padding-top: 20px;
    text-align: center;
    color:white;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    width: 266px;
    height: 40px;
  }