.thumbnail-series-list{
    position: absolute;
    left: 54px;
    top: 240px;
    padding-right: 44px;
    padding-left: 15px;
    color: white;
  }
  
  .thumbnail-series-list img{
    width: 80%;
    height: auto;
  }
  
  .list-series-year{
    padding-bottom: 30px;
  }

  .list-timbul{
    border-radius: 5px;
    border: solid white;
  }

  .judul-halaman{
      color: white;
      font-size: 40px;
      position: absolute;
      top: 110px;
      left: 60px;
  }

  .category-drop{
    position: absolute;
    top: 50px;
    left: 260px;
  }

  .nambah-film{
    position: absolute;
    width: 200px;
    height: 30px;
    right: 150px;
    top: 120px;
    background-color: #E50914;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 16px;
  }