a {
  padding-left: 25px;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover,
a:active {
  color: darkgray;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.jumbo-movie {
  position: relative;
}

.rectangle-movie {
  position: absolute;
  width: 2000px;
  height: 300px;
  left: -200px;
  top: 670px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -92.86%, #000000 60.83%);
  background-blend-mode: hard-light;
  filter: blur(50px);
}

.judul-movie {
  position: absolute;
  left: 150px;
  top: 100px;
  height: auto;
  width: 400px;
}

.summary-movie {
  position: absolute;
  width: 550px;
  height: 130px;
  left: 150px;
  top: 375px;
  border: none;
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: justify;
}

.kategori-movie {
  position: absolute;
  left: 150px;
  top: 525px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.kate-movie {
  border: 1.5px solid;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 4px;
  color: #f2f2f2;
  border-color: rgb(51, 51, 51);
}

.watch-movie {
  position: absolute;
  width: 300px;
  height: 60px;
  left: 150px;
  top: 600px;
  background-color: #e50914;
  color: white;
  border-radius: 5px;
  border: none;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150.2%;
}

.latest {
  color: white;
}

.navmovies {
  position: absolute;
  left: 34px;
  top: 850px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.thumbnail-movies-page {
  position: absolute;
  left: 54px;
  top: 950px;
  padding-right: 30px;
  padding-left: 10px;
  color: white;
}

.thumbnail-movies-page img {
  width: 80%;
  height: auto;
}

.timbul {
  border-radius: 5px;
  border: solid white;
  margin-right: 7px;
}

.movie-year {
  margin-top: -5px;
  margin-bottom: 60px;
}
