.form-profil {
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  text-align: left;
  width: 700px;
  height: auto;
  border: solid 2px white;
  border-radius: 5px;
  padding: 50px;
  background-color: rgb(58, 58, 58);
}

.person {
  display: block;
  text-align: center;
}

.data-diri {
  color: white;
  font-size: 12px;
}

.keterangan {
  font-size: 12px;
  margin-top: -20px;
  color: black;
  margin-bottom: 15px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tulisan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -100px;
  margin-bottom: -20px;
}

.imeji {
  flex-direction: column;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.foto-profil {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  border: solid white;
}

input[type="file"] {
  display: none;
}

.ganti-foto {
  border-radius: 5px;
  background-color: red;
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  color: black;
}

.fotodll {
  display: flex;
  flex-direction: column;
}
