a{
  padding-left: 25px;
}
a:link, a:visited{
  color: white;
  text-decoration: none;
}
a:hover, a:active{
  color: darkgray;
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.header{
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.header-left{
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  color: white;
}

.header-middle{
  display: flex;
}

.header-right{
  display: flex;
  padding-right:25px;
}

.regis{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-color: white;
  background-color: white;
  border: none;
  color:#E50914;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.login{
  width: 100px;
  height: 30px;
  margin-left: 15px;
  border-radius: 5px;
  border-color: #E50914;
  background-color: #E50914;
  border: none;
  color: white;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.preview{
  position: relative;
}

.judul{
  position: absolute;
  left: 150px;
  top: 100px;
  height: auto; 
  width: auto; 
  max-width: 515px; 
  max-height: 100px;
}

.summary{
  position: absolute;
  width: 550px;
  height: 80px;
  left: 150px;
  top:360px;
  border: none;
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.kategori{
  position: absolute;
  left: 150px;
  top:445px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.kate{
  border: 1.5px solid ;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 4px;
  color: #f2f2f2;
  border-color: rgb(51, 51, 51);
}

.watch{
  position: absolute;
  width: 300px;
  height: 60px;
  left: 150px;
  top: 500px;
  background-color: #E50914;
  color: white;
  border-radius: 5px;
  border: none;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150.2%;
}

.series{
  position: absolute;
  left: 54px;
  top: 800px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.thumbnail-series{
  position: absolute;
  left: 54px;
  top: 900px;
  padding-right: 44px;
  padding-left: 15px;
  color: white;
}

.thumbnail-series img{
  width: 80%;
  height: auto;
  border-radius: 5px;
  border-color: gray;
}

.movies{
  position: absolute;
  left: 54px;
  top: 1250px;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.thumbnail-movies{
  position: absolute;
  left: 54px;
  top: 1350px;
  padding-right: 44px;
  padding-left: 15px;
  color: white;
}

.thumbnail-movies img{
  width: 80%;
  height: auto;
  border-radius: 5px;
  border-color: gray;
}